.hero {
    overflow: hidden;
    height: 100vh;
    background: #edeae8;
    position: relative;
}

video {
    position: relative;

    /* Vertical and Horizontal center*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heroCover {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.6);
    transition: background-color 1s linear; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.heroText {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 40vh;
    font-family: 'EB Garamond', serif;
}

.heroText2 {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about {
    color: #c9c9c9;
    font-size: 14px;
    font-family: 'Montserrat', san-serif;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: -10vh;
    margin-left: 3vw;
}

.about:hover {
    color: #fff;
    cursor: pointer;
}
